<div class="skills">
  <div class="proficient">
    <div class="boxLeft title">Proficient</div>
    <div class="boxRight">
      <div class="skillCard">
        <p>HTML</p>
      </div>
      <div class="skillCard">
        <p>CSS/SCSS</p>
      </div>
      <div class="skillCard">
        <p>JavaScript</p>
      </div>
      <div class="skillCard">
        <p>JSON</p>
      </div>
      <div class="skillCard">
        <p>Angular 7+</p>
      </div>
      <div class="skillCard">
        <p>TypeScript</p>
      </div>
      <div class="skillCard">
        <p>PrimeNG</p>
      </div>
      <div class="skillCard">
        <p>Git</p>
      </div>
      <div class="skillCard">
        <p>Jira</p>
      </div>
      <div class="skillCard">
        <p>Responsive Web Design</p>
      </div>
      <div class="skillCard">
        <p>VSC</p>
      </div>
      <div class="skillCard">
        <p>Microsoft Office</p>
      </div>
    </div>
  </div>

  <div class="familiar">
    <!-- <div class="boxLeft exp">React/React-Native • Node • Back-end (REST and MERN) • Visual Studio 2017 • API • MongoDB
    </div> -->
    <div class="boxLeft">
      <div class="skillCard">
        <p>React</p>
      </div>
      <div class="skillCard">
        <p>React-Native</p>
      </div>
      <div class="skillCard">
        <p>Node</p>
      </div>
      <div class="skillCard">
        <p>Back-end</p>
      </div>
      <div class="skillCard">
        <p>REST</p>
      </div>
      <div class="skillCard">
        <p>MERN</p>
      </div>
      <div class="skillCard">
        <p>Visual Studio 2017</p>
      </div>
      <div class="skillCard">
        <p>API</p>
      </div>
      <div class="skillCard">
        <p>MongoDB</p>
      </div>
    </div>
    <div class="boxRight title">Familiar</div>
  </div>
</div>
