<div class="about">
    <div class="header">About</div><br>

    <div class="images">
        <img src="../../../assets/icons/linkedin.png" alt="profile">
        <img src="../../../assets/icons/wakeboard.jpg" alt="wakeboard">
        <img src="../../../assets/icons/waterski.jpg" alt="waterski">
        <img src="../../../assets/icons/wakeboard2.jpg" alt="wakeboard">
    </div>

</div>

<div class="externalLinks">
    <!-- <div class="github button">GitHub</div>
    <div class="linkedin button">LinkedIn</div>
    <div class="facebook button">FaceBook</div> -->

    <a 
    href="https://github.com/davecalderwood" 
    target="_blank" 
    rel=”noopener”>
        <div class="github button">GitHub</div>
    </a>

    <a 
    href="https://www.linkedin.com/in/david-calderwood/" 
    target="_blank" 
    rel=”noopener”>
        <div class="linkedin button">LinkedIn</div>
    </a>

    <a 
    href="https://www.facebook.com/david.calderwood35?ref=bookmarks" 
    target="_blank" 
    rel=”noopener”>
        <div class="facebook button">FaceBook</div>
    </a>
</div>
