<div class="parentSlider">

  <div class="directionControl">
    <div class="left">
      <!-- go back -->
      <button (click)="goPrevious()"><img src="../assets/icons/arrow-left.svg" alt="arrow-left" class="arrow"></button>
      
    </div>
    <div class="right">
      <!-- go forward -->
      <button (click)="goNext()"><img src="../assets/icons/arrow-right.svg" alt="arrow-right" class="arrow"></button>
    </div>
  </div>

  <div class="childPageOne" *ngIf="currentIndex === 0">
    <div class="pageTitle">{{ pageOneTitle }}</div>
    <div class="pageSubtitle">Page 1</div>
  </div>

  <div class="childPageTwo" *ngIf="currentIndex === 1">
    <div class="pageTitle">{{ pageTwoTitle }}</div>
    <div class="pageSubtitle">Page 2</div>
  </div>

  <div class="childPageThree" *ngIf="currentIndex === 2">
    <div class="pageTitle">{{ pageThreeTitle }}</div>
    <div class="pageSubtitle">Page 3</div>
  </div>

  <div class="childPageFour" *ngIf="currentIndex === 3">
    <div class="pageTitle">{{ pageFourTitle }}</div>
    <div class="pageSubtitle">Page 4</div>
  </div>
</div>