.parentSlider {
    height: 100vh;
    width: 100vw;

    .directionControl {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; 
        justify-content: space-between;

        button {
            background: transparent;
            outline: none;
            border: none;
        }

        .arrow {
            height: 65px;
            cursor: pointer;
        }
    }

    .page {
        overflow: auto;
        width: 85%;
        margin: auto;
        height: 100%;
    }

    .childPageOne {
        height: 100%;
        width: 100%;
        background: #2a95c7;
    }

    .childPageTwo {
        height: 100%;
        width: 100%;
        background: #2ac76b;
    }

    .childPageThree {
        height: 100%;
        width: 100%;
        background: #bcc72a;
    }

    .childPageFour {
        height: 100%;
        width: 100%;
        background: #ba2ac7;
    }
}