<div class="parentSlider">

  <div class="directionControl">
    <div class="left">
      <!-- go back -->
      <button (click)="goPrevious()"><img src="../assets/icons/arrow-left.svg" alt="arrow-left" class="arrow"></button>

    </div>
    <div class="right">
      <!-- go forward -->
      <button (click)="goNext()"><img src="../assets/icons/arrow-right.svg" alt="arrow-right" class="arrow"></button>
    </div>
  </div>

  <div class="childPageOne" *ngIf="currentIndex === 0">
    <div class="page">
      <app-page-one></app-page-one>
    </div>
  </div>

  <div class="childPageTwo" *ngIf="currentIndex === 1">
    <div class="page">
      <app-page-two></app-page-two>
    </div>
  </div>

  <div class="childPageThree" *ngIf="currentIndex === 2">
    <div class="page">
      <app-page-three></app-page-three>
    </div>
  </div>

  <div class="childPageFour" *ngIf="currentIndex === 3">
    <div class="page">
      <app-page-four></app-page-four>
    </div>
  </div>
</div>
