<div class="workHistory">
  <div class="title">Work History</div><br>
  <div class="card">
    <div class="job">Junior Software Developer</div>
    <div class="company"><strong>Yona-Brixtel</strong> • 03/2019 - Current</div>
    <div class="jobDescAndLogo">
      <div class="jobDesc">I am currently a software developer at Yona-Brixtel in Virginia with a focus on front-end
        software development and API integration. We do contract work for the FAA under the DOT. Here I use HTML/CSS,
        JavaScript, Angular 7+, PrimeNg every day for our CEA project for the FAA. This is an internal application that
        we
        are currently building from scratch. At this job I am in charge of new development as well as maintaining the
        current application. We use Jira to track, monitor and fix bugs. Any new front-end issues get sent to me and my
        team
        so we can update and fix them.</div>
      <div class="jobLogo"><img src="../../../assets/icons/yona-brixtel.jpeg" alt="Yona-Brixtel"></div>
    </div>
  </div>
  <br>

  <div class="card">
    <div class="job">Software Developer</div>
    <div class="company"><strong>Helio Training</strong> • 09/2018 - 12/2018</div>
    <div class="jobDescAndLogo">
      <div class="jobDesc">Larry H Miller Sports Entertainment Group – LHM contracted Helio Training to build the Utah
        Stars
        (American Basketball Association team that feeds into the Jazz) a mobile application to mimic the Utah Jazz
        current
        application. We built this using React-Native. I worked on this while I was going through schooling there. When
        I
        graduated and got a job, I transferred the job and knowledge to the next group so they could continue the
        project.
      </div>
      <div class="jobLogo"><img src="../../../assets/icons/helio.png" alt="Helio"></div>
    </div>
  </div>


</div><br>

<div class="workHistory">
  <div class="card">
    <div class="job">Helio Training</div>
    <div class="company"><strong>Full Stack Development Course</strong> • 09/2018 - 12/2018</div>
    <div class="jobDescAndLogo">
      <div class="jobDesc"><a href="https://heliotraining.com/" target="_blank" rel=”noopener”>Helio Training</a> is an
        accelerated school offering cources in full-stack development and UI/UX. I attended this school late in 2018 to
        get
        a jump on becoming a software developer. Helio Training offers bootcamps which prepare you to work in the tech
        industry. Here I learned how to build full stack applications using JavaScript on the front end and Express for
        the
        API (MERN Stack). My full stack app was able to "Create", "Read", "Update" and "Delete" (CRUD) information from
        the
        database. You can find that back end code <a
          href="https://github.com/davecalderwood/Library-API/blob/master/index.js" target="_blank"
          rel="noopener">here</a>.
      </div>
      <div class="jobLogo"><img src="../../../assets/icons/helio.png" alt="Helio"></div>
    </div>
  </div>


</div>
