<div class="workHistory">
    <div class="title">Work History</div><br>
    <div class="job">Junior Software Developer</div>
    <div class="company"><strong>Yona-Brixtel</strong> • 03/2019 - Current</div>
    <div class="jobDesc">I am currently a software developer at Yona-Brixtel in Virginia with a focus on front-end software development and API integration. We do contract work for the FAA under the DOT. Here I use HTML/CSS, JavaScript, Angular 7+, PrimeNg every day for our CEA project for the FAA. This is an internal application that we are currently building from scratch. At this job I am in charge of new development as well as maintaining the current application. We use Jira to track, monitor and fix bugs. Any new front-end issues get sent to me and my team so we can update and fix them.</div><br>

    <div class="job">Software Developer</div>
    <div class="company"><strong>Helio Training</strong> • 09/2018 - 12/2018</div>
    <div class="jobDesc">Larry H Miller Sports Entertainment Group – LHM contracted Helio Training to build the Utah Stars (American Basketball Association team that feeds into the Jazz) a mobile application to mimic the Utah Jazz current application. We built this using React-Native. I worked on this while I was going through schooling there. When I graduated and got a job, I transferred the job and knowledge to the next group so they could continue the project.</div>
</div>