.workHistory {
  overflow: scroll;
  position: relative;
  z-index: 100;

  .title {
    text-align: center;
    font-size: 30px;
  }

  .card {
    border-radius: 5px;
    padding: 5px;
    background: lightgray;
    width: 90%;
    margin: auto;

    .job {
      text-decoration: underline;
      font-size: 20px;
    }

    .company {
      padding-left: 10px;
      padding-top: 10px;
      font-size: 18px;
    }

    .jobDescAndLogo {
      display: flex;
      width: 100%;

      .jobDesc {
        padding-left: 25px;
        padding-top: 5px;
        font-size: 18px;
      }
    }
  }



  a {
    position: relative;
    z-index: 100;
  }

  img {
    width: 125px;
  }
}

@media screen and (max-width: 700px) {
  .jobDescAndLogo {
    flex-direction: column;
  }
}
