<div class="page">

  <div class="hello">
    Hello! My name is David Calderwood and I am a front-end developer working in Tyson's, Virginia. If I am not
    currently
    at work I am working on furthering my development skills by working on personal projects or studying new languages
    and
    technologies.
  </div>

  <div class="bottom">
    <div class="externalLinks">
      <a href="https://github.com/davecalderwood" target="_blank" rel=”noopener”>
        <div class="github">GitHub</div>
      </a>

      <a href="https://www.linkedin.com/in/david-calderwood/" target="_blank" rel=”noopener”>
        <div class="linkedin">LinkedIn</div>
      </a>

      <a href="https://www.facebook.com/david.calderwood35?ref=bookmarks" target="_blank" rel=”noopener”>
        <div class="facebook">FaceBook</div>
      </a>
    </div>

    <div class="contact">
      <div class="email">david.calderwood5@gmail.com</div>
      <div class="phone">(503) 858-5790</div>
    </div>
  </div>

</div>
