.page {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .hello {
    width: 60%;
    margin: auto;
    font-size: 20px;
    color: white;
    padding-top: 40px;
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    position: fixed;
    bottom: 0;
    border: 2px solid yellow;

    //   .externalLinks {
    //     display: flex;
    //     flex-wrap: wrap;
    //     border-top: 2px solid white;
    //     justify-content: space-evenly;
    //     width: 60%;

    //     a {
    //       color: white;
    //       text-decoration: none;
    //       position: relative;
    //       z-index: 100;
    //       padding: 20px;
    //       font-size: 24px;
    //     }

    //     .github {
    //       &:hover {
    //         color: red;
    //       }

    //       &:active {
    //         transform: translateY(2px);
    //       }
    //     }

    //     .linkedin {
    //       &:hover {
    //         color: blue;
    //       }

    //       &:active {
    //         transform: translateY(2px);
    //       }
    //     }

    //     .facebook {
    //       &:hover {
    //         color: rgb(140, 128, 245);
    //       }

    //       &:active {
    //         transform: translateY(2px);
    //       }
    //     }
    //   }

    //   .contact {
    //     flex-wrap: wrap;
    //     border-top: 2px solid white;
    //     color: white;
    //     display: flex;
    //     justify-content: space-evenly;
    //     position: relative;
    //     z-index: 100;
    //     padding: 20px;
    //     font-size: 24px;
    //     width: 100%;
    //   }
  }
}
